.python-version
*.pyc
__pycache__/
.idea/

# environments
.env
.env.template
.env.dev
.env.staging
.env.production
.env*

env
.venv/
venv/

# sqlite
db.sqlite3

# extras
readme-guide.md
todos.md
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
